#sim-webview {
	/* stretching webview for simulation to fill entire area */
	width: 100%;
	height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
	/* removing app edges from Chrome app */
	margin: 0;
}

#cupola-dropzone {
	border-style: dashed;
	border-width: 5px;
	border-color: gray;
	border-radius: 25px;

	margin: 0 auto;
	width: 90%;
	height: 200px;
	/* position: absolute;*/

	/* left: 50%; */
	/* top: 50%; */
	/*margin: -100px 0 0 -150px;*/
}

.dz-message {
	margin: 0 auto;
	width: 100%;
	text-align: center;
}

/* making function buttons in dat.gui wider */
.dg .function .property-name {
	width: 100% !important;
}